.videogames {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-games-buttons-bar{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
  margin: 5px;
}

.video-game-button{
  min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.quantity-input{
  width: 60px;
  height: 20px;
  font-size: 15px;
  background-color: aliceblue;
  margin: 0 4px;
  color: black;
}

.filter-by-name-input{
  font-size: 15px;
  margin: 5px;
  padding: 3px;
  max-width: 130px;
}

.filter-inputs-bar{
  display: flex;
}

.filter-label-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
}