.videogame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.remove-db-button {
  padding: 10px;
}

.title-rating{
  display: flex;
  justify-content: center;
  padding: 10px;
  gap: 20px;
  align-items: center;
}

.title{
  font-size: 30px;
}

.single-game {
  display: flex;
  flex-direction: column;
  border: 5px solid rgb(40, 66, 100);
  padding: 10px;
}

.image-data {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.image-container{
  max-height: 300px;
}

.image {
  max-height: 300px;
}

.data-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.platforms-game-detail-container {
  display: flex;
  justify-content: center;
  margin: 10px;
  gap: 30px;
}

.platforms-game-detail-list {
  display: flex;
  gap: 20px;
}

.genres-game-detail-container {
  display: flex;
  justify-content: center;

  margin: 10px;
  gap: 30px;
}

.genres-game-detail-list {
  display: flex;
  gap: 20px;
}

.game-detail-description-title {
  display: flex;
  justify-content: center;
}

.game-detail-description {
  margin: 10px 40px;
  border: 1px solid black;
}

.game-description {
  padding: 20px;
}
