.videogame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.remove-db-button {
  padding: 10px;
}

.single-game {
  display: flex;
  flex-direction: column;
}

.image-data {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.image {
  width: 500px;
}

.platforms-game-detail-container {
  display: flex;
  justify-content: center;
  margin: 10px;
  gap: 30px;
}

.platforms-game-detail-list {
  display: flex;
  gap: 20px;
}

.genres-game-detail-container {
  display: flex;
  justify-content: center;

  margin: 10px;
  gap: 30px;
}

.genres-game-detail-list {
  display: flex;
  gap: 20px;
}

.game-detail-description-title {
  display: flex;
  justify-content: center;
}

.game-detail-description {
  margin: 10px 40px;
}
