.landing-page-links {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  }
  
  .landing-page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-radius: 10px;
    margin: 10px 20px;
    padding: 10px;
    font-size: 20px;
  }
  
  .landing-page-link:hover{
    background-color: violet;
  }
  
  .route{
    background-color: violet;
  }