.create-videogame {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container{
  display: flex;
  gap: 50px;
}

.genres-new-game{
  padding: 10px;
}

.platforms-new-game{
  padding: 10px;
}